---
import Layouts from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import HeroSection from "../components/HeroSection.astro";
import NewAside from "../components/NewAside.astro"
import ArticlesSection from "../components/ArticlesSection.astro";

---

<Layouts title="News Homepage">
	<Menu/>
	<main class="mx-2 md:mx-6 pc:max-w-[1400px] pc:mx-auto">
		<div class="md1:flex md1:justify-around">
			<HeroSection/>
			<NewAside/>
		</div>
		<ArticlesSection/>   
	</main>
	      


</Layouts>
