---
import CardArticles from "./CardArticles.astro"


---

<section class="flex flex-col gap-5 mt-10 md:flex-row ">
   <CardArticles titulo="01" subtitulo="Reviving Retro PCs" parrafo="what happens when old are given morden upgrades?" img="imgs/image-retro-pcs.jpg" />
   <CardArticles titulo="02" subtitulo="Top 10 Laptops of 2022" parrafo="Our best picks for various needs and budgets" img="imgs/image-top-laptops.jpg" />
   <CardArticles titulo="03" subtitulo="The Growth of gaming" parrafo="How the pandemic has sparked fresh opportunities" img="imgs/image-gaming-growth.jpg" />
</section>