<section class="flex flex-col    md:flex-wrap ">
   
    <picture>
        <source  media="(min-width: 1000px)" srcset="imgs/image-desktop.jpg">
        <img class=" md1:w-[95%] md:h-[20] lg:h-[500px]" src="imgs/image-web-3-mobile.jpg" alt="">´
    </picture>
    <div class="md:flex md:gap-6 md:mt-8 md1:mt-0">
        <h1 class="text-3xl font-extrabold w-60 py-4 md:w-6/12 md:text-4xl lg:text-6xl lg:w-[40%]">The Bright Future of Web 3.0?</h1>

    <div class="md:mx-auto md:flex md:flex-col md:justify-center">
        <p class="font-light text-Dark-grayish-blue w-[37.5ch] mb-6">We dive into the next evolution of the web that. claims to put the power oftje platfroms back into the hands of the people. but os ot really fulfilling its promise?</p>

    <a class="text-sm bg-Soft-red px-10 py-4 text-Very-dark-blue font-bold tracking-[3px] max-w-max hover:bg-Very-dark-blue hover:text-Off-white " href="#">READ MORE</a>
   

   
</section>